@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model SpiritSite.Models.BreadcrumbsList

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var item in Model.Breadcrumbs)
        {
            <li class="breadcrumb-item">
                @if (item.IsActive)
                {
                    @item.Title
                }
                else
                {
                    <a href="@item.Url">
                        @item.Title
                    </a>
                }
            </li>
        }
    </ol>
</nav>
